body {
    background-color: burlywood;
}

.grid-container {
    display: flex;
    flex-direction: column;
    flex: none;
    justify-content: center;
    align-items: center;
}

.row-container {
    display: flex;
    flex-direction: row;
    flex: none;
}

.cell {
    height: 50px;
    width: 50px;
    background-color: white;
    margin: 2px;
}